body {
  text-align: center;
  /* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

.btn {
  color: #ffffff;
  background: #000000;
  border: 0;
  padding: 8px 25px;
  border-radius: 26px;
  box-shadow: 0;
  font-family: 300;
  margin: 0 7px;
}
.btn.selected {
  background: #5567c9;
}

.planet {
  color: #001949;
  text-decoration: underline;
  font-weight: bold;
}
